body.active_admin {
  .trumbowyg-box {
    border: 1px solid #c9d0d6;
    border-radius: 3px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    width: calc(80% - 2px);

    button {
      background: transparent;
      border-radius: 0;
      box-shadow: none;
      color: #222;
      text-shadow: none;
    }

    textarea {
      border: 0 none;
      display: block;
    }

    >.trumbowyg-editor {
      background-color: #fff;

      li {
        margin: initial;
        padding: initial;
      }

      ol {
        list-style-type: decimal;
      }

      p {
        margin-bottom: 1em;
      }

      ul {
        list-style-type: disc;
      }

      ul, ol {
        margin: 0 1.5em 1.5em 0;
        padding-left: 1.5em;
      }
    }

    .trumbowyg-button-pane {
      background: transparent;
      border-bottom: 0 none;
    }
  }

  .trumbowyg-modal {
    .trumbowyg-modal-button {
      line-height: initial;
      text-shadow: none;
    }
  }

  .field_with_errors >.trumbowyg-box {
    border: 1px solid #932419;
  }
}